body {
    /*font-family: Verdana, sans-serif;*/
}

.cm-tiles {
    box-shadow: 1px 1px 4px 2px #9da5aa;
  
    text-align: left;
    padding-left: 10px
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

.shadow {
    box-shadow: 0 0 10px 2.5px #8C2132;
}
