<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChangeManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Connection_Database" connectionString="Data Source=np-stem.temple.edu; Initial Catalog=CIS4396S08;PersistSecurityInfo=True; Integrated Security=False;User id=usrCIS4396S08;Password=34GlEzz40" />
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Connection_DB_Password" value="34GlEzz40" />
    <add key="Connection_WS_Username" value="cis4396T202003G08" />
    <add key="Connection_WS_Password" value="DadTenseFaultyRainstorm" />
    <add key="demo_mode" value="False" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <applicationSettings>
    <ChangeManagementSystem.Properties.Settings>
      <setting name="ChangeManagementSystem_WS_LDAP_Search_LDAP_Search" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
      </setting>
      <setting name="ChangeManagementSystem_WS_Student_Search_WS_Student" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_student/ws_student.asmx</value>
      </setting>
      <setting name="ChangeManagementSystem_WS_Programs_And_Degrees_ProgramsAndDegrees" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/programsanddegrees/ProgramsAndDegrees.asmx</value>
      </setting>
    </ChangeManagementSystem.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IronPdf.Assets.Rendering.Windows" publicKeyToken="94e1c31412563c75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>


